body {
    font-family: Bootstrap-icons, var(--bs-body-font-family);
    font-size: 18px;
    line-height: 1.4;
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    width: 100%;
}

a {
    color: var(--bs-link-color);
    text-decoration: none;
}

    a.active {
        color: var(--bs-link-color);
        text-decoration: none;
    }

        a.active:hover {
            color: var(--bs-link-hover-color);
            text-decoration: underline;
        }

    a:hover {
        color: var(--bs-link-hover-color);
        text-decoration: underline;
    }

    a.show {
        color: var(--bs-link-color);
        text-decoration: none;
    }

hr {
    margin: 2rem auto 1rem auto;
    border: none;
    border-top: var(--bs-secondary-color) 4px solid;
    width: 66.6%;
}

h1, .h1, h4, .h4 {
    font-size: 2rem;
    text-align: center;
}

h2, .h2, h5, .h5 {
    font-size: 1.66rem;
    text-align: center;
}

h3, .h3, h6, .h6 {
    font-size: 1.33rem;
    text-align: start;
}

h1, h2, h3, .h1, .h2, .h3 {
    color: var(--bs-orange);
}

h4, h5, h6, .h4, .h5, .h6 {
    color: var(--bs-body-color);
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

    h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
    .h1 a, .h2 a, .h3 a, .h4 a, .h5 a, .h6 a {
        color: inherit;
    }

        h1 a i, h2 a i, h3 a i, h4 a i, h5 a i, h6 a i,
        .h1 a i, .h2 a i, .h3 a i, .h4 a i, .h5 a i, .h6 a i {
            color: var(--bs-link-color);
            font-size: 1em;
        }

        h1 a.active, h2 a.active, h3 a.active, h4 a.active, h5 a.active, h6 a.active,
        .h1 a.active, .h2 a.active, .h3 a.active, .h4 a.active, .h5 a.active, .h6 a.active {
            color: inherit;
        }

            h1 a.active i, h2 a.active i, h3 a.active i, h4 a.active i, h5 a.active i, h6 a.active i,
            .h1 a.active i, .h2 a.active i, .h3 a.active i, .h4 a.active i, .h5 a.active i, .h6 a.active i {
                color: var(--bs-link-color);
                font-size: 1em;
            }

            h1 a.active:hover, h2 a.active:hover, h3 a.active:hover, h4 a.active:hover, h5 a.active:hover, h6 a.active:hover,
            .h1 a.active:hover, .h2 a.active:hover, .h3 a.active:hover, .h4 a.active:hover, .h5 a.active:hover, .h6 a.active:hover {
                color: inherit;
            }

                h1 a.active:hover i, h2 a.active:hover i, h3 a.active:hover i, h4 a.active:hover i, h5 a.active:hover i, h6 a.active:hover i,
                .h1 a.active:hover i, .h2 a.active:hover i, .h3 a.active:hover i, .h4 a.active:hover i, .h5 a.active:hover i, .h6 a.active:hover i {
                    color: var(--bs-link-hover-color);
                    font-size: 1em;
                }

        h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover,
        .h1 a:hover, .h2 a:hover, .h3 a:hover, .h4 a:hover, .h5 a:hover, .h6 a:hover {
            color: inherit;
        }

            h1 a:hover i, h2 a:hover i, h3 a:hover i, h4 a:hover i, h5 a:hover i, h6 a:hover i,
            .h1 a:hover i, .h2 a:hover i, .h3 a:hover i, .h4 a:hover i, .h5 a:hover i, .h6 a:hover i {
                color: var(--bs-link-hover-color);
                font-size: 1em;
            }

ul {
    list-style-type: square;
}

    ul.Possibilities, ul.BigList {
        list-style: none;
        padding-left: 0px;
        margin: 0px;
    }

        ul.BigList > li {
            display: inline-block;
            text-align: center;
        }

table th {
    font-weight: lighter;
    font-style: italic;
    color: var(--bs-secondary-color);
}

table td, table th {
    padding-left: 5px;
    padding-right: 5px;
}

table.Breed th {
    padding-bottom: 10px;
}

table.Breed > thead {
    border-bottom: 4px solid var(--bs-border-color);
}

table.Breed tr {
    border-bottom: 2px solid var(--bs-border-color);
}

table.Breed td {
    padding-top: 10px;
    padding-bottom: 10px;
}

table.Breed {
    width: 100%;
}

/* ========== Non-bootstrap setup ================================> */

.MonsterImage {
    height: 48px;
}

.MonsterImage-2x {
    height: 96px;
}

.MonsterImage-4x {
    height: 192px;
}

.MonsterImage, .MonsterImage-2x, .MonsterImage-4x {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

    .MonsterImage img, .MonsterImage-2x img, .MonsterImage-4x img {
        max-width: 100%;
        max-height: 100%;
        height: auto;
        object-fit: scale-down;
    }

.MonsterInfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.SkillInfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Growths, .Requirements {
    font-weight: lighter;
    font-style: italic;
    color: var(--bs-secondary-color);
}

.SkillDetailRow, .Combination {
    display: flex;
    flex-wrap: wrap;
}

.SkillMonsterList {
    display: block;
    list-style: none;
    padding-left: 0px;
    margin: 0px;
    font-size: 60%;
    font-weight: bold;
}

.SkillWithMonsters, .Operator {
    text-align: center;
}

.Operator {
    margin-left: 1em;
    margin-right: 1em;
}

.RelevantSkill {
    border: var(--bs-border-color) 2px solid;
    padding: 2px;
}

.SkillDetailRow {
    justify-content: start;
}

.Combination {
    margin-top: 2em;
    margin-bottom: 2em;
    justify-content: start;
}
