:focus, :focus-visible, :focus-within {
    outline: none;
}

.spinner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    height: 33.3vh;
}

    .spinner > .spinner-border {
        --bs-spinner-border-width: 1rem;
        color: var(--bs-primary);
        max-width: 66.6vw;
        width: min-content;
        height: 100%;
        aspect-ratio: 1 / 1;
    }

    .spinner > .spinner-text {
        color: var(--bs-emphasis-color);
        position: absolute;
        font-size: 1.5rem;
        font-weight: bold;
    }

    .spinner > .spinner-text:after {
        content: var(--blazor-load-percentage-text, "Loading");
    }
