@page "/skill/attribute/{AttributeName}"
@inject IDataService DataService
@inject NavigationManager NavigationManager

<PageTitle>WonderEgg - Skill Attribute - @(AttributeName)</PageTitle>

@if (dataLoaded)
{
    <div class="container">
        <div class="row">
            <h1 class="col-12">Attribute @(AttributeName) Skills</h1>
        </div>
        <div class="row mb-3">
            <section>
                <SkillCardGridComponent skills=@(skills!.OrderBy(skill => skill.Id).ToArray()) />
            </section>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <section>
                    <h2>Requirements</h2>
                    <SkillRequirementsComponent skills=@(skills) includeNames=true />
                </section>
            </div>
        </div>
    </div>
}
