.nav-item ::deep a {
    text-decoration: none;
    transition: border-color 0.125s ease-in-out;
}

    .nav-item ::deep a.active {
        color: var(--bs-white);
        background-color: var(--bs-primary);
        text-decoration: none;
    }

        .nav-item ::deep a.active:hover, .nav-item ::deep a.active:focus {
            color: var(--bs-white);
            background-color: var(--bs-primary);
            text-decoration: none;
        }

    .nav-item ::deep a:hover, .nav-item ::deep a:focus {
        color: var(--bs-link-hover-color);
        background-color: rgba(var(--bs-link-color-rgb),0.125);
        text-decoration: underline;
    }

    .nav-item ::deep a.show {
        text-decoration: none;
    }
