@page "/skill/category/{CategoryName}"
@inject IDataService DataService

<PageTitle>DWM Library - Skill Category - @(CategoryName)</PageTitle>

@if (dataLoaded)
{
    <div class="container">
        <div class="row">
            <h1 class="col-12">Category @(CategoryName) Skills</h1>
        </div>
        <div class="row mb-3">
            <section>
                <SkillCardGridComponent skills=@(skills!.OrderBy(skill => skill.Id).ToArray()) />
            </section>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <section>
                    <h2>Requirements</h2>
                    <SkillRequirementsComponent skills=@(skills) includeNames=true />
                </section>
            </div>
        </div>
    </div>
}

@if (notFound)
{
    <NotFoundComponent />
}
