@if (dataLoaded)
{
    <div class="row BigList g-3">
        @foreach (var monster in monsters!)
        {
            <div class=@(css)>
                <div class="card bg-body-tertiary text-center p-2">
                    <MonsterImageComponent monster=@(monster) size="MonsterImageComponent.MonsterImageSize.Small" />
                    <a class="stretched-link mt-2" href=@($"/monster/{Uri.EscapeDataString(monster.Name)}")>
                        @(monster.Name)
                    </a>
                </div>
            </div>
        }
    </div>
}


