@if (dataLoaded)
{
    <div class="row g-1">
        @foreach (var attribute in Enum.GetValues<SkillAttribute>().Where(attr => attr != SkillAttribute.NONE))
        {
            <div class=@(css)>
                <span style="font-weight: lighter; font-style: italic; color: var(--bs-secondary-color);">
                    @(attribute.ToJsonString())
                </span>
                <br />
                <span>
                    @(ConvertAttribute(attribute))
                </span>
            </div>
        }
    </div>
}
