@if (dataLoaded)
{
    <div class="row g-3">
        @foreach (var monster in monsters!)
        {
            <div class=@(css)>
                <div class="card link-card bg-body-tertiary align-items-center text-center p-2">
                    <MonsterImageComponent monster=@(monster) size="MonsterImageComponent.MonsterImageSize.Small" />
                    <a class="stretched-link mt-2" href=@($"/monster/{Uri.EscapeDataString(monster.Name)}")>
                        @(monster.Name)
                    </a>
                </div>
            </div>
        }
    </div>
}
else
{
    <div class="row g-3">
        @for (var loop = 0; loop < 56; loop++)
        {
            <div class=@(css + " " + ((loop < 12) ? "opacity-100" : (loop < 24) ? "opacity-75" : (loop < 36) ? "opacity-50" : (loop < 48) ? "opacity-25" : "opacity-0"))>
                <div class="card bg-body-tertiary align-items-center text-center p-2" aria-hidden="true">
                    <MonsterImageComponent monster=@(null) size="MonsterImageComponent.MonsterImageSize.Small" IsPlaceholder="true" />
                    <span class="placeholder placeholder-glow mt-2 w-50">&nbsp;&nbsp;&nbsp;</span>
                </div>
            </div>
        }
    </div>
}

