@if (dataLoaded)
{
    <div class="row">
        @if (includeNames)
        {
            <div class="col-auto mx-auto px-0">
                <span class="Growths">Name</span>
                @foreach (var monster in monsters!)
                {
                    <br />
                    <a href=@($"/monster/{Uri.EscapeDataString(monster.Name)}")>
                        @(monster.Name)
                    </a>
                }
            </div>
        }
        @foreach (var field in typeof(MonsterGrowths).GetProperties())
        {
            <div class="col-1 mx-auto px-0">
                <span class="Growths">@(field.Name)</span>
                @foreach (var monster in monsters!)
                {
                    <br />
                    <span>
                        @(field.GetValue(monster.Growths))
                    </span>
                }
            </div>
        }
    </div>
}
