@page "/about"

<PageTitle>DWM Library - About</PageTitle>

<div class="container">
    <div class="row text-center">
        <h1 class="col-12">DWM Library</h1>
        <div class="col-12">
            <p>
                Data scraped from
                <a href="https://gamefaqs.gamespot.com/gbc/525414-dragon-warrior-monsters-2-cobis-journey/faqs/14383">
                    Jimeous’s guide
                </a>
                and
                <a href="https://gamefaqs.gamespot.com/gbc/525414-dragon-warrior-monsters-2-cobis-journey/faqs/19460">
                    Ambios’ guide
                </a>.
            </p>
            <p>
                <a href="https://github.com/MetroWind/dwm2-tools">Source code</a>
            </p>
        </div>
    </div>
</div>
