@page "/"
@inject IDataService DataService

<PageTitle>WonderEgg - Home</PageTitle>

<div class="container">
    <div class="row text-center">
        <h1 class="col-12">WonderEgg</h1>
        <div class="col-12">
            <p>
                Welcome to the breed database for Dragon Warrior: Monsters 2.
                <br />
                Click any link to start.
            </p>
        </div>
    </div>
    <hr class="mb-3" />
    <div class="row g-3">
        <HeaderLinkComponent href=@($"/monster") text=@($"Monsters") h1=true />
        <div class="col-12 col-lg-6">
            <div class="row">
                <HeaderLinkComponent href=@($"/monster/family") text=@($"Families") />
            </div>
            <CardGridComponent href=@($"/monster/family") categories=@(typeof(MonsterFamily).GetJsonTuples()) halfSize=true />
        </div>
        <div class="col-12 col-lg-6">
            <div class="row">
                <HeaderLinkComponent href=@($"/monster/location") text=@($"Locations") />
            </div>
            <CardGridComponent href=@($"/monster/location") categories=@(typeof(MonsterLocationType).GetJsonTuples()) halfSize=true />
        </div>
        <div class="col-12 col-lg-6">
            <div class="row">
                <HeaderLinkComponent href=@($"/monster/size") text=@($"Sizes") />
            </div>
            <CardGridComponent href=@($"/monster/size") categories=@(typeof(MonsterSize).GetJsonTuples()) halfSize=true />
        </div>
        <div class="col-12 col-lg-6">
            <div class="row">
                <HeaderLinkComponent href=@($"/monster/rarity") text=@($"Rarities") />
            </div>
            <CardGridComponent href=@($"/monster/rarity") categories=@(typeof(MonsterRarity).GetJsonTuples()) halfSize=true />
        </div>
    </div>
    <hr class="mb-3" />
    <div class="row g-3">
        <HeaderLinkComponent href=@($"/skill") text=@($"Skills") h1=true />
        <div class="col-12 col-lg-6">
            <div class="row">
                <HeaderLinkComponent href=@($"/skill/type") text=@($"Types") />
            </div>
            <CardGridComponent href=@($"/skill/type") categories=@(typeof(SkillType).GetJsonTuples()) halfSize=true />
        </div>
        <div class="col-12 col-lg-6">
            <div class="row">
                <HeaderLinkComponent href=@($"/skill/category") text=@($"Categories") />
            </div>
            <CardGridComponent href=@($"/skill/category") categories=@(typeof(SkillCategory).GetJsonTuples()) halfSize=true />
        </div>
        <div class="col-12">
            <div class="row">
                <HeaderLinkComponent href=@($"/skill/attribute") text=@($"Attributes") />
            </div>
            <CardGridComponent href=@($"/skill/attribute") categories=@(typeof(SkillAttribute).GetJsonTuples()) />
        </div>
    </div>
</div>
