@page "/Json"
@inject IDataService DataService
@inject NavigationManager NavigationManager

<PageTitle>DWM Library - Json</PageTitle>

@if (dataLoaded)
{
    <div class="container-fluid h-100">
        <code>@(json)</code>
    </div>
}
