@page "/404"

<PageTitle>DWM Library - 404</PageTitle>

<div class="container">
    <div class="row justify-content-center align-content-center align-items-center">
        <div class="col-auto ms-auto">
            <img class="text-end mt-4" src="/pics/4x/wonderegg-4x.png" draggable="false" alt="Logo" width="76" height="84" />
            @* <div class="text-end" style=@($"height: 192px; background-image: url(/pics/4x/wonderegg-4x.png); background-repeat: no-repeat; background-position: right;") /> *@
        </div>
        <div class="col-auto me-auto">
            <h1 class="text-start">404</h1>
            <h6 class="text-start">Page Not Found</h6>
            <p class="text-start">The requested page does not exist.</p>
        </div>
    </div>
</div>
