@page "/404"

<PageTitle>DWM Library - 404</PageTitle>

<div class="container">
    <div class="row">
        <div class="col-4">
            <div id="MonsterPic" style=@($"height: 192px; background-image: url(/pics/4x/wonderegg-4x.png); background-repeat: no-repeat; background-position: center;") />
        </div>
        <div class="col-8">
            <h1 class="text-start">404</h1>
            <h5 class="text-start">Page Not Found</h5>
            <p>
                The requested page does not exist.
            </p>
        </div>
    </div>
</div>
