@page "/404"

<PageTitle>DWM Library - 404</PageTitle>

<div class="container">
    <div class="row justify-content-center align-content-center align-items-center">
        <div class="col-auto ms-auto pt-4">
            <MonsterImageComponent monster=@(null) size="MonsterImageComponent.MonsterImageSize.Large" />
        </div>
        <div class="col-auto me-auto">
            <h1 class="text-start">404</h1>
            <h6 class="text-start">Page Not Found</h6>
            <p class="text-start">The requested page does not exist.</p>
        </div>
    </div>
</div>
