@if (dataLoaded)
{
    <div class="row BigList g-3">
        @foreach (var value in categories)
        {
            <div class=@(css)>
                <div class="card bg-body-tertiary text-center p-2">
                    <a href=@($"{href}/{Uri.EscapeDataString(value.Item1)}") class="stretched-link">
                        @(value.Item2)
                    </a>
                </div>
            </div>
        }
    </div>
}