<aside id="blazor-error-ui" class="fixed-bottom w-100">
    <section class="container">
        <div class="alert alert-danger alert-dismissible m-3 p-3" role="alert">
            <div class="row">
                <div class="col me-auto">
                    <h6 class="alert-heading my-0">
                        <i class="bi bi-exclamation-triangle-fill me-1"></i>
                        Blazor Error
                    </h6>
                </div>
                <div class="col-auto">
                    <a class="btn btn-sm btn-outline-danger reload mx-1" href="." aria-label="Reload">
                        <i class="bi bi-arrow-clockwise"></i>
                    </a>
                    <button class="btn btn-sm btn-outline-danger" type="button" data-bs-dismiss="alert" aria-label="Close">
                        <i class="bi bi-x-lg"></i>
                    </button>
                </div>
            </div>
            <hr class="border-2 w-100 my-2" style="border-color: var(--bs-alert-border-color);" />
            <div class="row">
                <div class="col">
                    <span>
                        An unhandled exception has occurred. Please reload the page and try again.
                    </span>
                </div>
            </div>
        </div>
    </section>
</aside>
