@page "/404"

<PageTitle>404</PageTitle>

<div class="container">
    <div class="row">
        <div class="col-4">
            <div id="MonsterPic" style=@($"height: 192px; background-image: url(/pics/4x/wonderegg-4x.png); background-repeat: no-repeat; background-position: center;") />
        </div>
        <div class="col-8">
            <h1 style="text-align: start;">404</h1>
            <h2 style="text-align: start;">Page Not Found</h2>
            <p>
                The requested page does not exist.
            </p>
        </div>
    </div>
</div>
