@if (dataLoaded)
{
    <div class="row">
        @if (includeNames)
        {
            <div class="col-auto mx-auto px-0">
                <span class="Requirements">Name</span>
                @foreach (var skill in skills!)
                {
                    <br />
                    <a href=@($"/skill/{Uri.EscapeDataString(skill.Name)}")>
                        @(skill.Name)
                    </a>
                }
            </div>
        }
        @foreach (var field in typeof(SkillRequirements).GetProperties())
        {
            <div class="col-1 mx-auto px-0">
                <span class="Requirements">@(field.Name)</span>
                @foreach (var skill in skills!)
                {
                    <br />
                    <span>
                        @(field.GetValue(skill.Requirements))
                    </span>
                }
            </div>
        }
    </div>
}
