@if (dataLoaded)
{
    <div class="row g-3">
        @foreach (var skill in skills!)
        {
            <div class=@(css)>
                <div class="card bg-body-tertiary text-center p-2">
                    <a href=@($"/skill/{Uri.EscapeDataString(skill.Name)}") class="stretched-link">
                        @(skill.Name)
                    </a>
                </div>
            </div>
        }
    </div>
}
