@if (dataLoaded)
{
    <div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 row-cols-xxl-6 g-3">
        @foreach (var skill in skills!)
        {
            <div class="col">
                <div class="card link-card bg-body-tertiary align-items-center text-center p-2">
                    <a href=@($"/skill/{Uri.EscapeDataString(skill.Name)}") class="stretched-link">
                        @(skill.Name)
                    </a>
                </div>
            </div>
        }
    </div>
}
else
{
    <div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 row-cols-xxl-6 g-3">
        @for (var row = 0; row < 4; row++)
        {
            @for (var col = 0; col < 6; col++)
            {
                <div class=@(GetCSS(row, col))>
                    <div class="card bg-body-tertiary align-items-center text-center p-2">
                        <span class="placeholder placeholder-wave w-75">
                            <b class="invisible">placeholder</b>
                        </span>
                    </div>
                </div>
            }
        }
    </div>
}
