@inherits LayoutComponentBase

<nav class="statistics-bar py-5">
    <div class="container">
        <div class="row justify-content-center text-start">
            <div class="col-12 col-xl-4 pe-xl-5">
                <h6>WonderEgg</h6>
                <p>
                    The definitive <em>Dragon Warrior Monsters 2</em> reference.
                </p>
                <p class="link-list">
                    Source code available on <a href="https://github.com/dwm-lib/dwm-lib.github.io" target="_blank" rel="author">GitHub</a>
                    under the <a href="https://github.com/dwm-lib/dwm-lib.github.io/blob/main/LICENSE.md" target="_blank" rel="license">MIT</a> license.
                </p>
                <p>
                    This website may contain copyrighted material the use of which has not always been specifically authorized by the copyright owner.
                    Such material is made available for educational purposes constituting 'fair use' as provided for in section 107 of the US Copyright Law.
                </p>
            </div>
            <div class="col-12 col-xl-8 ps-xl-5">
                <div class="row row-cols-1 row-cols-md-3 justify-content-center text-start g-3">
                    <div class="col">
                        <h6 class="link-header">Links</h6>
                        <ul class="link-list row row-cols-3 row-cols-md-2">
                            @foreach (var link in NavigationLinks)
                            {
                                <li class="col mb-2">
                                    <a href=@(link.Value)>
                                        @(link.Key)
                                    </a>
                                </li>
                            }
                            <li class="col mb-2">
                                <a href="https://github.com/dwm-lib/dwm-lib.github.io" target="_blank" rel="author">
                                    GitHub
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col">
                        <h6 class="link-header">Families</h6>
                        <ul class="link-list row row-cols-3 row-cols-md-2">
                            @foreach (var value in typeof(MonsterFamily).GetJsonTuples())
                            {
                                <li class="col mb-2">
                                    <a href=@($"family/{Uri.EscapeDataString(value.Item1)}")>
                                        @(value.Item2)
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                    <div class="col">
                        <h6 class="link-header">Locations</h6>
                        <ul class="link-list row row-cols-3 row-cols-md-2">
                            @foreach (var value in typeof(MonsterLocationType).GetJsonTuples())
                            {
                                <li class="col mb-2">
                                    <a href=@($"location/{Uri.EscapeDataString(value.Item1)}")>
                                        @(value.Item1)
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
