@if (Links is not null && Links.Length > 0)
{
    <nav class="navbar">
        <div class="container-fluid">
            <ol class="breadcrumb my-0">
                @foreach (var link in Links)
                {
                    <li class="breadcrumb-item">
                        <NavLink class="p-2 pt-1" href=@(link.Item1) Match="NavLinkMatch.All" @onclick="CloseNavMenu">
                            @(link.Item2)
                        </NavLink>
                    </li>
                }
            </ol>
        </div>
    </nav>
}
