.breadcrumb-bar {
    min-height: 2rem;
    color: var(--bs-secondary-color);
    background-color: var(--bs-secondary-bg);
}

.breadcrumb-item {
    font-size: 1rem;
}

    .breadcrumb-item ::deep a {
        background-color: rgba(255,255,255,0.0);
        text-decoration: none;
    }

        .breadcrumb-item ::deep a.active {
            color: var(--bs-body-color);
            background-color: rgba(255,255,255,0.0);
            text-decoration: none;
        }

            .breadcrumb-item ::deep a.active:hover {
                text-decoration: none;
            }

        .breadcrumb-item ::deep a:hover {
            background-color: rgba(255,255,255,0.0);
            text-decoration: underline;
        }
