.navbar {
    color: var(--bs-white);
    background-color: var(--bs-primary);
}

    .navbar ::deep a {
        color: var(--bs-white);
        background-color: rgba(255,255,255,0.0);
        text-decoration: none;
        border-radius: 4px;
        transition: background-color 0.125s ease-in-out;
    }

        .navbar ::deep a.active {
            color: var(--bs-white);
            background-color: rgba(255,255,255,0.0);
            text-decoration: none;
        }

            .navbar ::deep a.active:hover, .navbar ::deep a.active:focus {
                color: var(--bs-white);
                background-color: rgba(255,255,255,0.0);
                text-decoration: none;
            }

        .navbar ::deep a:hover, .navbar ::deep a:focus {
            color: var(--bs-white);
            background-color: rgba(255,255,255,0.0);
            text-decoration: none;
        }

        .navbar ::deep a.show {
            color: var(--bs-white);
            background-color: rgba(255,255,255,0.0);
            text-decoration: none;
        }

.navbar-brand b {
    font-size: 1.5rem;
}

    .navbar-brand img {
        object-fit: scale-down;
    }

.navbar-toggler {
    color: var(--bs-white);
    border-color: rgba(255,255,255,0.15);
}

.navbar-toggler-icon {
    color: var(--bs-white);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-overlay {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.50;
}

.dropdown-menu {
    color: var(--bs-body-color);
    background-color: var(--bs-primary-bg-subtle);
}

.nav-item, .dropdown-menu {
    font-size: 1.0rem;
    background-color: var(--bs-primary);
}

    .nav-item ::deep a, .dropdown-menu ::deep a {
        color: var(--bs-white);
        background-color: rgba(255,255,255,0.0);
        text-decoration: none;
        border-radius: 4px;
        transition: background-color 0.125s ease-in-out;
    }

        .nav-item ::deep a.active, .dropdown-menu ::deep a.active {
            color: var(--bs-white);
            background-color: rgba(255,255,255,0.25);
            text-decoration: none;
        }

            .nav-item ::deep a.active:hover, .dropdown-menu ::deep a.active:hover,
            .nav-item ::deep a.active:focus, .dropdown-menu ::deep a.active:focus {
                color: var(--bs-white);
                background-color: rgba(255,255,255,0.25);
                text-decoration: none;
            }

        .nav-item ::deep a:hover, .dropdown-menu ::deep a:hover,
        .nav-item ::deep a:focus, .dropdown-menu ::deep a:focus {
            color: var(--bs-white);
            background-color: rgba(255,255,255,0.125);
            text-decoration: none;
        }

        .nav-item ::deep a.show, .dropdown-menu ::deep a.show {
            color: var(--bs-white);
            text-decoration: none;
        }

.navbar-breadcrumb {
    color: var(--bs-emphasis-color);
    background-color: var(--bs-primary-bg-subtle);
}

.breadcrumb-item {
    font-size: 1.0rem;
}

    .breadcrumb-item ::deep a {
        color: var(--bs-link-color);
        background-color: rgba(255,255,255,0.0);
        text-decoration: none;
        border-radius: 4px;
        transition: background-color 0.125s ease-in-out;
    }

        .breadcrumb-item ::deep a.active {
            color: var(--bs-body-color);
            background-color: rgba(var(--bs-link-hover-color-rgb),0.25);
            text-decoration: none;
        }

            .breadcrumb-item ::deep a.active:hover, .breadcrumb-item ::deep a.active:focus {
                color: var(--bs-body-color);
                background-color: rgba(var(--bs-link-hover-color-rgb),0.25);
                text-decoration: none;
            }

        .breadcrumb-item ::deep a:hover, .breadcrumb-item ::deep a:focus {
            color: var(--bs-link-hover-color);
            background-color: rgba(var(--bs-link-hover-color-rgb),0.125);
            text-decoration: underline;
        }
