@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<main>
    <header class="fixed-top">
        <CascadingValue Value="@collapseNavMenu">
            <NavigationBar OnClickCallback=@HandleChildClicks />
            <BreadcrumbBar Links="@breadcrumbLinks" OnClickCallback=@HandleChildClicks />
        </CascadingValue>
    </header>
    <article class="content">
        @if (!collapseNavMenu)
        {
            <div class="overlay" @onclick="HandleFadeClick" />
        }
        <ErrorBoundary @ref="errorBoundary">
            <ChildContent>
                @Body
            </ChildContent>
            <ErrorContent>
                <NotFoundComponent />
            </ErrorContent>
        </ErrorBoundary>
    </article>
    <footer>
        <StatisticsBar />
    </footer>
</main>

