@inject IDataService DataService

@if (dataLoaded)
{
    <div class="container-fluid statistics-bar">
        <div class="row justify-content-center align-content-center align-items-center text-center">
            <div class="col-auto">
                <span class="statistics-item">
                    Monsters: @(monsters!.Length)
                </span>
            </div>
            <div class="col-1">
                <span class="statistics-item vr mx-5" />
            </div>
            <div class="col-auto">
                <span class="statistics-item">
                    Breeds: @(breeds!.Length)
                </span>
            </div>
            <div class="col-1">
                <span class="statistics-item vr mx-5" />
            </div>
            <div class="col-auto">
                <span class="statistics-item">
                    Skills: @(skills!.Length)
                </span>
            </div>
        </div>
    </div>
}
