@page "/family"
@inject IDataService DataService

<PageTitle>WonderEgg - Families</PageTitle>

<div class="container">
    <div class="row">
        <h1 class="col-12">Families</h1>
    </div>
    <CardGridComponent href=@($"/family") categories=@(typeof(MonsterFamily).GetJsonTuples()) />
    <hr class="mb-3" />
    @foreach (var family in Enum.GetValues<MonsterFamily>())
    {
        <div class="row">
            <HeaderLinkComponent href=@($"/family/{Uri.EscapeDataString(family.ToString())}") text=@($"The {family.ToJsonString()} Family") />
        </div>
        <div class="row mb-3">
            <section>
                <MonsterCardGridComponent monsters=@(monsters?.Where(monster => monster.Family == family)?.OrderBy(monster => monster.Id)?.ToArray()) />
            </section>
        </div>
    }
</div>
