@page "/family/{FamilyName}"
@inject IDataService DataService
@inject NavigationManager NavigationManager

<PageTitle>WonderEgg - Family - @(FamilyName)</PageTitle>

<section class="container">
    <h1>The @(FamilyName) Family</h1>
    <hr />
    <MonsterCardGridComponent monsters=@(monsters?.OrderBy(monster => monster.Id)?.ToArray()) />
    <div class="row">
        @if (monsters is not null && monsters.Length > 0)
        {
            <div class="col">
                <h2>Growths</h2>
                <MonsterGrowthsComponent monsters=@(monsters) includeNames=true />
            </div>
        }
        @if (breeds is not null && breeds.Length > 0)
        {
            <div class="col">
                <MonsterBreedsComponent breeds=@(breeds) includeTargets=true />
            </div>
        }
    </div>
</section>
