@page "/family/{FamilyName}"
@inject IDataService DataService
@inject NavigationManager NavigationManager

<PageTitle>WonderEgg - Family - @(FamilyName)</PageTitle>

@if (dataLoaded)
{
    <div class="container">
        <div class="row">
            <h1 class="col-12">The @(FamilyName) Family</h1>
        </div>
        <div class="row mb-3">
            <section>
                <MonsterCardGridComponent monsters=@(monsters!.OrderBy(monster => monster.Id).ToArray()) />
            </section>
        </div>
        <div class="row mb-3">
            <div class="col-lg-6">
                <section>
                    <h2>Growths</h2>
                    <MonsterGrowthsComponent monsters=@(monsters) includeNames=true />
                </section>
            </div>
            <div class="col-lg-6">
                <section>
                    <MonsterBreedsComponent breeds=@(breeds) includeTargets=true />
                </section>
            </div>
        </div>
    </div>
}
