@page "/location"
@inject IDataService DataService

<PageTitle>WonderEgg - Locations</PageTitle>

<section class="container">
    <h1>Families</h1>
    <CardGridComponent href=@($"/location") categories=@(typeof(MonsterLocationType).GetJsonTuples()) />
    <hr />
    @foreach (var location in Enum.GetValues<MonsterLocationType>())
    {
        <div class="row">
            <HeaderLinkComponent href=@($"/location/{Uri.EscapeDataString(location.ToString())}") text=@(location.ToJsonString()) />
        </div>
        <MonsterCardGridComponent monsters=@(monsters?.Where(monster => monster.Locations is not null && monster.Locations.Any(loc => loc.Name == location))?.OrderBy(monster => monster.Id)?.ToArray()) />
    }
</section>
