@page "/monster/size/{sizeName}"
@inject IDataService DataService

<PageTitle>DWM Library - Rarity - @(Uri.UnescapeDataString(sizeName))</PageTitle>

@if (dataLoaded)
{
    <div class="container">
        <div class="row">
            <h1 class="col-12">Size @(Uri.UnescapeDataString(sizeName)) Monsters</h1>
            <MonsterCardGridComponent monsters=@(monsters!.OrderBy(skill => skill.Id).ToArray()) />
        </div>
        <div class="row">
            <div class="col-lg-6">
                <section>
                    <h2>Growths</h2>
                    <MonsterGrowthsComponent monsters=@(monsters) includeNames=true />
                </section>
            </div>
            <div class="col-lg-6">
                <section>
                    <MonsterBreedsComponent breeds=@(breeds) includeTargets=true />
                </section>
            </div>
        </div>
    </div>
}

@if (notFound)
{
    <NotFoundComponent />
}
