@page "/monster/{MonsterName}"
@inject IDataService DataService
@inject NavigationManager NavigationManager

<PageTitle>WonderEgg - Monster - @(MonsterName)</PageTitle>

@if (dataLoaded)
{
    <section class="container">
        <h1>@monster!.Name</h1>
        <MonsterInfoComponent monster=@(monster) />
        <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3">
            <div class="col">
                <h2>Stats</h2>
                <h3>Growths</h3>
                <MonsterGrowthsComponent monsters=@([monster]) />
                <h3>Resistances</h3>
                <MonsterResistancesComponent monster=@(monster) />
            </div>
            <div class="col">
                <MonsterBreedsComponent breeds=@(breeds!.Where(b => string.Equals(b.Target.Name, monster!.Name, StringComparison.InvariantCultureIgnoreCase)).ToArray()) includeTargets=false />
            </div>
            <div class="col">
                <MonsterBreedsComponent breeds=@(breeds!.Where(b => !string.Equals(b.Target.Name, monster!.Name, StringComparison.InvariantCultureIgnoreCase)).ToArray()) includeTargets=true />
            </div>
        </div>
    </section>
}
